@font-face {
    font-family: HNCblack;
    src: url(./fonts/helveticaneuecyr_black.otf);
  }
@font-face {
    font-family: HNCroman;
    src: url(./fonts/helveticaneuecyr_roman.otf);
}
@font-face {
    font-family: HNCthin;
    src: url(./fonts/helveticaneuecyr_thin.otf);
}
@font-face {
    font-family: HNCultralight;
    src: url(./fonts/helveticaneuecyr_ultralight.otf);
}
@font-face {
    font-family: HNCultralingtitalic;
    src: url(./fonts/helveticaneuecyr_ultralightitalic.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HNCroman;
}
/* ---------------MAIN--------------- */
.main{
    display: flex;
    flex-direction: row;
    background-color: #F8F8FA;
}
/* ---------------MAIN--------------- */

/* ---------------SIDEBAR--------------- */
.sideBar{
    min-width: 320px;
    background-color: white;
    box-shadow: 1px 0px 10px grey;
    z-index: 0;
}
.sideBar .logoContainer img{
    width: 154px;
    height: 75px;
    margin-left: 27px;
    margin-top: 7px;
}
.sideBar .timeAndThemesContainer{
    width: 248px;
    margin-left: 36px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    border-bottom:  1px solid #8B949F;
    
}
.sideBar .timeAndThemesContainer div img {
    width: 18px;
    height: 18px;
}
.sideBar .timeAndThemesContainer div {
    margin-right: 22px;
    height: 50px;
}
.sideBar .timeAndThemesContainer span{
    margin-right: 84px;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    height: 50px;
}
.menuContainer{
    width: 258.5px;
    margin-left: 21.5px;
    margin-top: 33px;
}
.menuContainer span{
    margin-left: 13px;

    font-family: HNCroman;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #097CB4;
}

.menuContainer .container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
.menuContainer .container .item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    width: 258px;
    transition: all .3s;
}
.menuContainer .container .item .itemArrow img{
    height: 10px;
    width: 6px;
}
.menuContainer .container .item:hover{
    background-color: #6FD5F5;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    transition: all .3s;
}
.menuContainer .container .item div img{
    width: 24px;
    height: 24px;
}
.menuContainer .container .item div{
    padding-left: 6px;
}
.menuContainer .container .item span{
    color: black;
    font-family: HNCthin;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    margin-left: 18px;
    width: 166px;
}
/* ---------------SIDEBAR--------------- */

/* ---------------CONTENT--------------- */
.content{
    width: 100%;
    height: 100%;
    background-color:#F8F8FA;
}
/* ---------------CONTENT--------------- */

/* ---------------NAVBAR--------------- */
.navBar{
    width: 100%;
    height: 69px;
    background-color: chocolate;
}
/* ---------------NAVBAR--------------- */

/* window */

.window{
    width: 95%;
    background-color: #fff;
    height: 880px;
    margin: 21px auto auto;
    border-radius: 8px;
    border: 0.5px gray;
    resize: vertical;
    resize: horizontal;
    overflow: auto;
}