@font-face {
  font-family: HNCblack;
  src: url(./fonts/helveticaneuecyr_black.otf);
}

@font-face {
  font-family: HNCroman;
  src: url(./fonts/helveticaneuecyr_roman.otf);
}

@font-face {
  font-family: HNCthin;
  src: url(./fonts/helveticaneuecyr_thin.otf);
}

@font-face {
  font-family: HNCultralight;
  src: url(./fonts/helveticaneuecyr_ultralight.otf);
}

@font-face {
  font-family: HNCultralingtitalic;
  src: url(./fonts/helveticaneuecyr_ultralightitalic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HNCroman;
}


p {
  margin: 0 !important;
}

/* ---------------MAIN--------------- */
.main {
  display: flex;
  flex-direction: row;
  background-color: #f8f8fa;
}

/* ---------------MAIN--------------- */

/* ---------------SIDEBAR--------------- */
.sideBar {
  height: 5000px;

  min-width: 239px;
  background-color: white;
  box-shadow: 1px 0px 10px grey;
  z-index: 0;
}

.sideBar .logoContainer .logoFull {
  width: 112px;
  height: 55px;
  margin-left: 20px;
  margin-top: 7px;
}

.sideBar .logoContainer .logoSmall {
  display: none;
}

.sideBar .timeAndThemesContainer {
  width: 185px;
  margin-left: 28px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8b949f;
}

.sideBar .timeAndThemesContainer div img {
  width: 14px;
  height: 14px;
}

.sideBar .timeAndThemesContainer div {
  margin-right: 14px;
  height: 36px;
}

.sideBar .timeAndThemesContainer span {
  margin-right: 62px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-transform: uppercase;
  height: 36px;
}

.menuContainer {
  width: 210px;
  margin-left: 15px;
  margin-top: 25px;
}

.menuContainer span {
  margin-left: 13px;

  font-family: HNCroman;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #097cb4;
}

.menuContainer .container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 2px;
  padding: 0;
}

.menuContainer .container .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: 195px;
  transition: all 0.3s;
}

.menuContainer .container .item .itemArrow img {
  height: 7px;
  width: 4px;
  margin-right: 35px;
}

.menuContainer .container .item:hover {
  background-color: #6fd5f5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  transition: all 0.3s;
}

.menuContainer .container .item div img {
  width: 18px;
  height: 18px;
}

.menuContainer .container .item div {
  padding-left: 6px;
}

.menuContainer .container .item span {
  color: black;
  font-family: HNCthin;
  font-weight: 800;
  font-size: 11px;
  line-height: 14px;
  margin-left: 16px;
  width: 166px;
}

/* ---------------SIDEBAR--------------- */

/* ---------------CONTENT--------------- */
.content {
  width: 100%;
  background: #f8f8fa;
}

/* ---------------CONTENT--------------- */

/* ---------------NAVBAR--------------- */
.navBar {
  width: 100%;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #f8f8fa;
}

.navbarLeft {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbarLeft img {
  width: 34px;
}

.searchImg {
  margin-left: -33px;
}

.navBar input {
  height: 34px;
  width: 266px;
  border: 1px solid rgba(67, 79, 99, 0.2);
  background-color: #f8f8fa;
  border-radius: 17.5px;
  margin-left: 37px;
  color: rgba(0, 0, 0, 0.5) 50%;
  padding: 11px 15px;
}

.navbarWrapper {
  display: flex;
  margin: 0 32px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbarRight {
  display: flex;
}

.navbarRightBtns {
  display: flex;
  align-items: center;
}

.navbarRightBtns img {
  margin: 0 15px;
  width: 24px;
}

.navbarRightProfile {
  margin-left: 60px;
  display: flex;
  color: rgba(21, 21, 21, 0.5);
  font-size: 14px;
}

.navbarProfileTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.navbarRightProfile div {
  margin-left: 13px;
}

.navbarRightProfile img {
  width: 30px;
  height: 30px;
}

/* ---------------NAVBAR--------------- */
/* ---------------WINDOW--------------- */

.window {
  background: #ffffff;
  border-radius: 8px;
  margin: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 600px;
  margin: 21px auto;
  width: 95%;
  overflow: auto;
  resize: both;
}

.window__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}
.accordion-button:not(.collapsed) {
  color: #05152f;
  background-color: #ddf0fa;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.window__routes {
  font-size: 13px;
  color: rgba(21, 21, 21, 0.5);
}

.window__routes span {
  color: #000;
}

.window__images {
  margin-right: 8px;
}

.window__hr {
  margin: 3px 19px;
  background-color: #e8e8e8;
  height: 1px;
  /* width: 100%; */
}

.window__registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
  flex-wrap: wrap;
}

.window__left {
  display: flex;
  align-items: center;
}

.window__left p {
  font-size: 14px;
}

.window__action-btn {
  display: flex;
  justify-content: space-between;
  padding: 13px 18px 11px 18px;
  width: 180px;
  margin-left: 30px;
  background: #ffffff;
  border-radius: 30px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
}

.show {
  border-radius: 20px 20px 0 0 !important;
}
.dropdown-menu {
  width: 180px;
  border-radius: 0 0 20px 20px !important;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
}
.dropdown-menu1 {
  width: 300px !important;
}
.dropdown-item {
  margin: 12px 0;
  color: rgba(9, 124, 180, 1);
}

/* .dropdown {
  width: 10px;
}

.dropdown::after,
.dropdown::before {
  content: "";
  display: block;
  background: #097cb4;
  width: 1px;
  height: 7px;
}

.dropdown::before {
  transform: rotate(-45deg);
  margin-top: 3.5px;
}

.dropdown::after {
  transform: rotate(45deg);
  margin-top: -3.5px;
} */

.window__action-text {
  font-size: 14px;
}

.window__sort-btn {
  width: 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  background: #ffffff;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
  padding: 13px 18px 11px 18px;
  margin-left: 20px;
}

.blue {
  color: #097cb4;
}

.disabled {
  color: #d3d6dc;
}

.window__right {
  display: flex;
  align-items: center;
}

.window__registration-btn {
  width: 180px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 13px 18px 11px 18px;
}

.window__search {
  position: relative;
  margin-left: 20px;
}

.window__search input {
  background: #f8f8fa;
  border: 1px solid rgba(67, 79, 99, 0.2);
  box-sizing: border-box;
  border-radius: 25px;
  width: 266px;
  height: 40px;
  padding-left: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.window__search img {
  position: absolute;
  right: 0px;
  height: 40px;
  cursor: pointer;
}

.dropdown-toggle::after {
  content: "";
  display: none;
}

.scroll_image {
  width: 1002px;
  background: #f8f8fa;
  height: 722px;
}
.scroll_img {
  width: 955px;
  height: 722px;
}
.scroll_flex {
  display: block;
}
.scroll_image {
  display: none;
}
.scroll_image.active {
  display: block;
}
.status {
  max-width: 100%;
  min-width: 1484px;
  display: flex;
  background: #f8f8fa;
  border-top: 1px solid rgba(67, 79, 99, 0.2);
  border-bottom: 1px solid rgba(67, 79, 99, 0.2);
  height: 42px;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.status__checkbox {
  margin-left: 20px;
}

.status__checkbox input {
  border: 1.5px solid rgba(67, 79, 99, 0.2);
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.status__status {
}

.status__no {
}

.status__per {
}

.status__ish {
}

.status__post {
}

.status__corr {
}

.status__short {
  margin-right: 50px;
}

.status__komu {
  margin-right: 100px;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

/* ---------------WINDOW--------------- */

.window__btn {
  display: flex;
  border-radius: 30px;
  background: #ffffff;
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2))
      drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12))
      drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.14));
}

.window-absolute {
  display: none;
  height: 1970px;
  position: absolute;
  right: 40px;
  top: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 1495px; 
}
.window-absolute.active{
  display: block;
}
.window__image_right {
  margin-left: 20px;
  margin-right: 15px;
}

.window__open-btn {
  width: 180px;
  height: 44px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

/* ------------------------------------- */

/* -------------DOCUMENT---------------- */

.document {
  display: flex;
}

.document * {
  font-family: HelveticaNeueCyr;
}

.document__hr {
  margin: 0 25px 0 19px;
  /* background-color: rgba(67, 79, 99, 0.2); */
}

.document__left {
  background-color: #f8f8fa;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 23px;
  padding-bottom: 20px;
}

.document__status {
  margin: 16px 0 28px 0;
  display: flex;
  align-items: center;
}

.document__status p {
  margin-left: 12px !important;
  font-weight: 550;
  font-size: 12px;
}

.document__quote {
  width: 95%;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
}

.document__name {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
}

.document__name img {
  margin-right: 17px;
}

.document__document {
  margin-bottom: 50px;
}

.document__document img {
  width: 95%;
}

.document__description {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  width: 95%;
}

.document__header {
  display: flex;
  margin-bottom: 20px;
}

.document__body {
  display: flex;
  flex-direction: column;
}

.document__row {
  display: flex;
  margin-top: 5px;
}

.document__progress {
  width: 10%;
}

.document__time {
  width: 30%;
  color: #808080;
  font-size: 14px;
}

.document__stage {
  width: 60%;
}

.document__stage p.big {
  font-size: 16px;
}

.document__stage p.small {
  font-size: 12px;
  font-weight: 300;
}

.document__stage p span.cyan {
  color: #097cb4;
  text-decoration: underline;
}
.document__arrow {
  width: 10%;
}

.arrow-up {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}

.document__right {
  width: 40%;
  padding-top: 16px;
  padding-left: 15px;
}

.document__person {
  margin-bottom: 50px;
}

.document__person_desc {
  color: #05152f;
  margin-left: 46px !important;
}

.document__table {
  display: flex;
  flex-direction: column;
}

.document__talbe-row {
  display: flex;
  width: 100%;
  margin-bottom: 28px;
}

.document__table-left {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  width: 40%;
  font-weight: 550;
}

.document__table-left p {
  font-weight: 550;
  font-size: 12px;
  font-family: HelveticaNeueCyr;
}

.document__left-elem_under {
  margin-left: 30px !important;
}

.document__table-right {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.document__table-right p {
  font-weight: 300;
  font-size: 12px;
  font-family: HelveticaNeueCyr;
}

.last-row {
  margin-bottom: 35px;
}

.document__hr-small {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 27px 33px 0;
}

.document__hr_down {
  margin-top: 40px;
}

/* -------------DOCUMENT---------------- */

.parcerContainer {
  background-color: white;
  z-index: 1;
  width: 239px;
  height: 100%;
  position: fixed;
  /* padding-left: 30px; */
}
.pcItem {
  color: black;
  font-family: HNCthin;
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  height: 30px;
  width: 166px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 10px;
}
.pcItem:hover {
  background-color: #6fd5f5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.pcOpen {
  left: 0%;
  transition: all 0.3s;
}
.pcClosed {
  left: -100%;
  transition: all 0.3s;
}
.pcTitle {
  font-family: HNCroman;
  color: #097cb4;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 14px;
  display: block;
  display: flex;
  margin-left: 30px;
}
.pcTitle div img {
  width: 7px;
  height: 12px;
  margin-left: -15px;
  margin-right: 10px;
  transform: rotateY(180deg);
}
.scroll.active {
  overflow: auto;
  max-width: 417px;
  height: 722px;
}
#faqs-container {
  min-width: 1484px;
  max-width: 100%;
}

/* ---------------MEDIA---------------- */
@media only screen and (max-width: 1393px) {
  .window__registration {
    flex-direction: column;
    align-items: start;
  }
  .window__left {
    margin-bottom: 20px;
  }
}

.ok {
  border-style: none !important;
  background: none !important;
  margin: 0 20px !important;
  border-top: 1px solid rgba(67, 79, 99, 0.2) !important;
  border-bottom: 1px solid rgba(67, 79, 99, 0.2) !important;
  border-radius: 0 !important;
}

.ok1 {
  border-style: none !important;
  background: none !important;
}

.accordianIn {
  border-radius: 0 !important;
  padding-left: 25px !important;
  border-top: 1px solid rgba(67, 79, 99, 0.2) !important;
  border-bottom: 1px solid rgba(67, 79, 99, 0.2) !important;
}
.accordianIn2 {
  border-radius: 0 !important;
  padding-left: 50px !important;
  border-top: 1px solid rgba(67, 79, 99, 0.2) !important;
  border-bottom: 1px solid rgba(67, 79, 99, 0.2) !important;
}
.accordianIn3 {
  max-width: 100%;
  min-width: 1484px;
  border-radius: 0 !important;
  height: 60px;
  margin: 0 20px;
  border-top: 1px solid rgba(67, 79, 99, 0.2) !important;
  border-bottom: 1px solid rgba(67, 79, 99, 0.2) !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.in3bottomText {
  color: rgba(132, 132, 132, 1);
}
.accordianIn3 p {
  font-size: 14px;
}

.accordianIn3 img {
  width: 20px;
  height: 20px;
}

.accordian_checkbox {
  display: flex;
  align-items: center;
}

.accordian_checkbox input {
  border: 1.5px solid rgba(67, 79, 99, 0.2);
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.accordian1vl {
  border-style: none !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.accordianInner {
  margin: 0 !important;
}

.parcerContainer {
  background-color: white;
  z-index: 1;
  width: 239px;
  height: 100%;
  position: fixed;
  /* padding-left: 30px; */
}
.pcItem {
  color: black;
  font-family: HNCthin;
  font-weight: 800;
  font-size: 14px;
  line-height: 14px;
  height: 30px;
  width: 166px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  padding-left: 10px;
}
.pcItem:hover {
  background-color: #6fd5f5;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.pcOpen {
  left: 0%;
  transition: all 0.3s;
}
.pcClosed {
  left: -100%;
  transition: all 0.3s;
}
.pcTitle {
  font-family: HNCroman;
  color: #097cb4;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 14px;
  display: block;
  display: flex;
  margin-left: 30px;
}
.pcTitle div img {
  width: 7px;
  height: 12px;
  margin-left: -15px;
  margin-right: 10px;
  transform: rotateY(180deg);
}
.scroll_flex.active {
  display: flex;
  justify-content: space-around;
}
/* ---------------MEDIA---------------- */
@media only screen and (max-width: 1412px) {
  .window__right {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .sideBar {
    min-width: 76px;
    max-width: 76px;
  }

  #logoF {
    display: none;
  }

  #logoS {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 14px;
    margin-top: 17px;
  }

  #timer {
    display: none;
  }

  .sideBar .timeAndThemesContainer div {
    display: none;
  }

  .sideBar .timeAndThemesContainer {
    width: 20px;
    margin-left: 22.5px;
    margin-top: 40px;
  }

  .menuContainer {
    width: 60px;
    margin-left: 16px;
  }

  .menuContainer .menuContainerTitle {
    display: block;
    font-size: 0;
    width: 8px;
    height: 8px;
    background: #097cb4;
    display: block;
    border-radius: 50%;
  }

  .menuContainer .container .item span {
    font-size: 0;
  }

  .menuContainer .container .item {
    width: 36px;
    height: 32px;
  }

  .menuContainer .container .item div {
    margin-right: -5px;
  }

  .menuContainer .container .item:hover {
    background-color: #6fd5f5;
    border-radius: 50%;

    transition: all 0.3s;
  }
}
/* ---------------MEDIA---------------- */
